.custom-toolbar {
  --background: #ffffff;
  padding: 0 12px;
}

.logo-avatar img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.search-container {
  flex: 1;
  padding: 0 12px;
}

.searchbar-custom {
  --background: #f1f3f5;
  --border-radius: 20px;
  height: 40px;
  font-size: 14px;
}

.user-btn {
  font-size: 24px;
}

